/* ---------Imports ---------- */

/* @import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600&family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Inria Serif', serif; */

* {
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed', sans-serif;
  box-sizing: border-box;

  /* "proxima-nova","Helvetica Neue" */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: #fdf0e6;

  /* E3D8CA */

  /* background-image: linear-gradient(to top right, #4CD2D2, #FFA65C); */

  /* background-image: linear-gradient(to top right, #FFA65C, #4CD2D2); */

  /* border: 5px solid green; */

  /* scroll-behavior: smooth;
  scroll-padding-top: 10%; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* .Inria {
  font-family: "Inria Serif", serif;
} */

/*------------Nav----------------*/

nav {
  min-height: 60px;
  height: 14%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 6%;

  /* background-color: #12568A; */
}

.nav-link {
  padding: 6px 0px;
  margin: 0 10px;
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid black;
}

/* ---------- HOME ----------  */

.landing_body {
  display: flex;
  width: 100%;
  height: 86%;
  /* border: 1px solid black; */
}

.landing_paragraph {
  /* border: 1px solid black; */
  width: 50%;
  height: auto;

  padding-left: 12%;
  padding-top: 5%;

  /* background-color: #4CD2D2;
  color: antiquewhite; */
}

.my_work_link {
  /* border: 1px solid black; */
  width: 50%;
  height: 90%;
  margin-left: 6%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.my_work_link a {
  text-decoration: none;
}

.my_work_link-text {
  font-size: 1.4rem;
  text-decoration: none;
  padding-bottom: 5px;
  color: rgb(78, 78, 78);

  border-bottom: 3px solid #fdf0e6;
}

.my_work_link-text:hover {
  border-bottom: 3px solid rgb(78, 78, 78);
}

/*----------------WORK-----------*/

.work_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 86%;

  /* border: 1px solid black; */
}

.work_title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 125px;
}

.work_links_container {
  height: auto;
  max-width: 1000px;
  width: 85%;
  display: flex;
  justify-content: space-between;

  /* border: 1px solid black; */
}

.work_links_container a {
  text-decoration: none;
}

.work_link-text {
  font-size: 2.2rem;
  font-weight: 400;
  /* font-family: "Inria Serif"; */

  padding-bottom: 3px;
  color: rgb(78, 78, 78);

  border-bottom: 3px solid #fdf0e6;
}

.work_link-text:hover {
  border-bottom: 3px solid rgb(78, 78, 78);
}

/* -------- back_nav button----- */

.back_nav_container {
  position: absolute;
  top: 42px;
  left: 50px;
}

.back_nav {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.back_nav:hover {
  border-bottom: 2px solid black;
}

/* .featured_project {
  width: 50%;
  height: 100%;
  margin-left: 6%;
} */

/* ----------- ABOUT ----------- */

.about_me_container {
  padding: 5% 12%;
  width: 100%;
  height: auto;
}

.about_me_container p {
  max-width: 750px;
  font-size: 1.4rem;
  /* letter-spacing: 1px; */
  /* line-height: 20px; */
}

/* ----------- CONTACT --------- */

.contact_container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid black; */
}

.contact_title_container {
  text-align: center;
  margin-top: 50px;

  /* border: 1px solid black; */
}

.contact_title {
  font-size: 1.2rem;
  font-weight: 400;
}

.contact_links {
  font-size: 2.2rem;
  font-weight: 400;
  padding: 0 50px;
  display: flex;
}

.profile_link {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

/* -----------PROJECTS---------- */

.projects_container {
  /* padding: 5% 12%; */
  /* width: 100%;  */

  /* border: 1px solid black; */
}

.projects_title_container {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 15px;

  /* border: 1px solid black; */
}

.project_tiles_container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 25px;
  /* border: 1px solid black; */
}

.project_tile {
  width: 300px;
  height: 325px;
  background-color: black;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 0 black;
  border-radius: 5px;
  text-align: center;
  /* margin: 25px 0px; */

  /* border: 1px solid black; */

  /* display: inline-block; */
}

.project_tile_photo {
  max-width: 260px;
  max-height: 220px;
  min-height: 200px;
  object-fit: contain;
  /* margin-top: -25px; */
  margin-top: 20px;
  /* negative margin bottom is for text positioning */
  margin-bottom: -5px;
  /* -------------- */

  border-radius: 3px;
}

.project_tile a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.project_tile p {
  padding-bottom: 15px;
}

/*--------------------Media Queries---------------*/

@media only screen and (max-width: 650px) {
  .my_work_link {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .work_links_container {
    flex-direction: column;
    width: auto;
  }
  .work_link-text {
    padding: 12px 0;
  }
}

@media only screen and (max-width: 450px) {
  .contact_container {
    flex-direction: column;
  }

  .contact_links {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 450px) {
  .back_nav_container {
    display: none;
  }
}

/* -----Project tiles ------ */

@media only screen and (max-width: 1150px) {
  .project_tiles_container {
    width: 625px;

    grid-template-columns: 1fr 1fr;

    /* border: 1px solid black; */
  }
}

@media only screen and (max-width: 800px) {
  .project_tiles_container {
    width: 300px;

    grid-template-columns: 1fr;

    /* border: 1px solid black; */
  }
}

/* @media only screen and (max-width: 740px) {
  .project-header {
    max-width: 590px;
    font-size: 38px;
  }
}

@media only screen and (max-width: 620px) {
  .project-header {
    max-width: 480px;
    font-size: 32px;
  }
}

@media only screen and (max-width: 520px) {
  .project-header {
    max-width: 420px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 400px) {
  #navbar {
    justify-content: center;
  }

  .project-tile {
    height: 410px;
  }
}  */
