* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.center-main-box {
    height: 100vh;
    width: 100vw;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    height: 300px;
    width: 650px;
    border: 4px solid orange;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

} 

.drum-buttons-box {
    background-color: lightgray;
    padding: 6px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
   /*  grid-gap: 6px; */

}

.drum-button {
    margin: 6px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
}

.drum-button:active {
    background-color: orange;
}

.controls-box {
    background-color: lightgray;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-box p {
    margin: 4px;
}