/* colors/fonts

btn color: #C6AC7F

background color: #f6e6cb

'Cormorant Garamond' - weight 300

Lato - weight 300


*/



/*-------------------------///
///------Global Rules-------///
///-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


body {
    font-size: 16px;
    line-height: 1.7;
}


/*-------------------------///
///------Headings-------///
///-------------------------*/

.headingOne, .headingTwo, .headingThree {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
}

.headingOne {
    font-size: 2em;
}

.bio-section .headingTwo {
    font-size: 1.8em;
}



/*-------------------------///
///------Nav/Header-------///
///-------------------------*/

 .header-box {
    height: 60vh; 
    width: 100%;
    /* background-color: black; */
    background-image: url("../img/beansCoffee.png");
    background-size: cover;
    background-position: center;
    display: flex; 
}

.header-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 60vh; 
    width: 100%;
    background-color: black;
    opacity: .5;

}

.header-quote {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;

    color: white;
    font-family: 'Cormorant Garamond', Cormorant, serif;
}

.title-box {
    margin-left: 50px;
    margin-top: 35px;
    font-family: 'Cormorant Garamond', Cormorant, serif;
    font-weight: 300;
    font-size: 1.2rem;
    z-index: 10;
}

.menu-box {
    height: 30px;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: auto;
    flex-basis: 550px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lato';
    font-weight: 400;
    transition: .8s;
    z-index: 10;

}

.title-box, .menu-box a {
    color: #fff;
    text-decoration: none;
}

.menu-box .icon {
    font-size: 1.4em;
    align-self: center;
    cursor: pointer;
}

.links:hover {
    border-bottom: 2px solid #fff;
}

.btn {
    background-color: #C6AC7F;
    color: black;
    padding: 15px 28px;
    align-self: center;
    border-radius: 3%;

}

/* .btn:hover {
    background-color: #C6AC7F;
   
    opacity: .8;

} */

/*----responsive menu button (hidden)----*/

.hidden-menu-toggle {
    display: none;
}

/*----responsive menu (hidden)----*/

.hidden-menu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: -100vh;
    display: flex;
    background-color: #f6e6cb;
    transition: .8s;
    z-index: 12;

}

.hidden-menu-toggle-out {
    font-size: 2.5em;
    position: absolute;
    right: 50px;
    top: 25px;
    cursor: pointer;

}

.hidden-menu-items {
    width: auto;
    height: 500px;
    margin: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.0em;
    font-family: Lato;

}

.hidden-menu-item-each {
    margin: 10px 0;
    color: #222;
    text-decoration: none;
    align-items: center;
    border-bottom: 4px solid #f6e6cb; 
}

.hidden-menu-item-each:hover {
     border-bottom: 4px solid #222; 

    
}



/*-------------------------///
///------Bio section-------///
///-------------------------*/

.bio-section {
    height: 100vh;
    color: black;
    background-color: #f6e6cb;
    font-family: 'Cormorant Garamond', Cormorant, serif;

}

.bio-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-section p {
    font-size: 3.2vw;
    font-weight: 500;
    line-height: 1.2;
    width: 65vw;
    align-self: center;
}


/*-------------------------///
///------Menu section-------///
///-------------------------*/

.menu-section {
    display: flex;
    background-color: #f6e6cb;
    height: 140vh;
    align-items: center;
    
}

.menu-text {
    width: 20vw;
    height: 80vh;
    margin-left: 4vw;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.menu-text p /*title*/{
    font-family: 'Cormorant Garamond';
    font-size: 3em;
    font-weight: 500;
    margin-left: 6vw;
}

.menu-text table, .menu-text .fullMenuLink {
    width: 20vw;
    margin-left: 6vw;
    font-family: Lato;
    font-weight: 400;
}

.menu-text .fullMenuLink {
    width: max-content;
    line-height: 1.4em;
    margin-top: 6vh;
    color:black;
    text-decoration: none;
    border-bottom: 1px solid black; 
    
}

.menu-text .fullMenuLink:hover {
    opacity: .6;
}

.menu-img {
    margin-left: 4vw;
}

.menu-img img {
    height: 110vh;
    width: 55vw;
    object-fit: cover;

}


/* will need to use grid to make menu section properly responsive? */


/*-------------------------///
///------quote section-------///
///-------------------------*/

.quote-section {
    height: 60vh;
}

.quote {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Cormorant Garamond', Cormorant, serif;
}

.quote p {
    font-size: 1.8em;
    text-align: center;
    margin: 0 5vw;

}

.quote span {
    text-align: center;
}

/*-------------------------///
///------IMG after quote-------///
///-------------------------*/


.quote-img {
    height: 100vh;
}

.quote-img img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}


/*-------------------------///
///------Footer/contact-------///
///-------------------------*/


footer {
    height: 40vh;
    background-color: #f6e6cb;
    display: flex;
}

.contact-box {
    margin-left: 50px;
    margin-top: 50px;
}

.contact-box ul {
    list-style-type: none;
    font-family: Lato;
    font-weight: 300;
}

.contact-box p {
    font-family: 'Cormorant Garamond';
   font-size: 1.5em;
}

.footerIcon-box {
    width: 3.5em;
    margin-left: auto;
    margin-right: 12vw;
    margin-top: 50px;
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.footerIcon-box .icon {
    color: black;
}


/*--------------------------------------------///
///------Media queries for screen size-------///
///-------------------------------------------*/

@media only screen and (max-width: 1200px) {

    
    .bio-section p {
        font-size: 2.3em;
        font-weight: 500;
        line-height: 1.2;
        width: 80vw;
        align-self: center;
    }
    

}


@media only screen and (max-width: 769px) {


    /* This is the break point where the nav menu is replaced
    by a responsive button that links to another page */
    
    .menu-box {
        display: none;
    }

    .hidden-menu-toggle {
        display: flex;
        margin-right: 50px;
        margin-top: -3px;
        font-size: 2.5em;
        cursor: pointer;
    }


    .title-box {
        display: flex;
        width: 100vw;
        justify-content: space-between;
    }



    /*  Add another button div to the html with diplay: none normally,
    but at this break point make the normal menu-box display: none
    and make the button appear.
    Then add event listener for click event and bring in new
    full screen menu
    
    */

}

@media only screen and (max-width: 680px) {

    .bio-section .headingTwo {
        font-size: 1.5em;
    }

    .bio-section p {
        font-size: 2.0em;
        font-weight: 500;
        line-height: 1.2;
        width: 90vw;
        align-self: center;
    }

    

    table tr /* menu */ {   
        display: flex;
        flex-direction: column;
    }

    .menu-box {
        display: none;
    }

}
